@CHARSET "UTF-8";

.summary {
    border-radius: 25px;
    background: #EEEEFF;
    padding: 15px;
    margin: 5px; 
    width: 200px;
    height: auto; 
}

.taskPerson {
    border-radius: 20px;
    background: #EEEEFF;
    padding: 5px;
    margin: 5px; 
    width: 40%;
    display: inline-block; 
    vertical-align: top;
}

.summaryTitle {
	padding: 0px;
	margin: 0 0 5px 0;
}

.tasks {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 5px;
    margin: 2px; 
    width: 150px;
    height: auto; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    border-radius: 5px;
    background: #EEEEFF;
	display: inline;
	padding: 4px;
    float: left;
    margin: 2px;
}

a {
    display: block;
    width: 60px;
}

.col1, .col2, .col3 { 
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  background: #ccc;
  padding: 5px;
  margin: 5px 0.5%;
  letter-spacing: normal;
}
.col1 {
  width: 50%;
}
.col2 {
  width: 40%;
}
.col3 {
  width: 20%;
}
